@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

html {
  scroll-behavior: smooth;
}
.logoMarcia {
  font-family: "Anton", sans-serif;
  font-size: 32px;
}
.logoMarcia span {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 100%;
  display: inline-block;
  margin-left: 2px;
}
